body {
	background-image: url('http://static.tumblr.com/baefb3fdb1b9097ddadd906bb6a2a1d1/mqbtw2u/D7lnepbzh/tumblr_static_4qd8hjgcif0gs40o88cws4g44.jpg');
	color: white;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: stars 40s linear infinite;
	-webkit-animation: stars 40s linear infinite;

}

@keyframes stars{

	to{background-position: 100%;}
}

@-webkit-keyframes stars{
	to{background-position: 100%;}
}

@font-face {
	font-family: space;
	src: url(cubic/cubic.ttf);

}

@font-face{
	font-family:numbers;
	src:url('birdman/BIRDMAN_.ttf');
}

.title {
	text-align: center;
	font-size: 3em;

	text-shadow: 2px 2px 8px #8AEBE1;
	padding:20px;
}

.wrapper {
	font-family: space;
	color: white;
}

.container {
	border-radius: 25px;
	height:500px;
	width:456px;
	border: solid black 1px;
	margin-left: 4%;
	float:left;
	background-image: url('images/spiral.jpg');
}

.container_spin {
	transition: 1s;
	transform : rotate(720deg);
}

.space {
	float:left;
	height:150px;
	width:150px;
	border: solid white 1px;
	text-align: center;
	font-size: 3em;
	color: white;
	border-radius: 25px;
}

.button {
	border-radius: 55px;
	height:50px;
	width:50px;
	background-image: url('images/atom.png');
	border:solid black 2px;
	margin: auto;
}

.button_used {
	background-image: url('images/atom_used.png');
}

.winner_statement {
	height:240px;
	width:550px;
	margin-left: 27%;
	text-align: center;
	color:black;
	background-color:white;
	opacity: 0.7;
	border: solid white 5px;
	position: absolute;
	top:260px;
	font-size: 3em;
}

.winner_statement_end {
	transition: 2s;
	color:white;
}

.reset {
	background-color: clear;
	width: 436px;
	height: 25px;
	margin-left: auto 0;
	font-size: 2em;
	font-family: space;
	color:white;
	padding: 10px;
	float:left;
	text-align: center;
}

.board {
	height:200px;
	width: 300px;
	border: solid clear 5px;
	float:left;
	text-align: center;
	margin-left:4%;
	margin-top:5%;
	padding-top:5%;
	font-family:numbers;
}



.board_on {
	text-shadow: 2px 2px 8px #8AEBE1;
	border-bottom:solid white 10px;

}

.playername {
	border-bottom: solid white 2px;
	width: 50px;
	margin:auto;
}