body {
	background-color: black;
	color: white;
}

@font-face {
	font-family: space;
	src: url(cubic/cubic.ttf);

}

.title {
	text-align: center;
	font-size: 3em;

	text-shadow: 2px 2px 8px #8AEBE1;
	padding:20px;
}

.wrapper {
	font-family: space;
	color: white;
}

.container {
	height:500px;
	width:456px;
	border: solid black 1px;
	margin-left: 4%;
	float:left;
	background-image: url('images/bluebackground.jpg');
}

.container_spin {
	transition: 1s;
	transform : rotate(720deg);
}

.space {
	float:left;
	height:150px;
	width:150px;
	border: solid white 1px;
	text-align: center;
	font-size: 3em;
	color: white;
}

.button {
	border-radius: 55px;
	height:50px;
	width:50px;
	background-image: url('images/atom.png');
	border:solid black 2px;
	margin: auto;
}

.button_used {
	background-image: url('images/atom_used.png');
}

.winner_statement {
	height:50px;
	width:500px;
	margin-left: 31%;
	text-align: center;
	color:black;
}

.winner_statement_end {
	transition: 2s;
	color:white;
}

.reset {
	background-color: black;
	width: 436px;
	height: 25px;
	margin-left: auto 0;
	font-size: 2em;
	font-family: space;
	color:white;
	padding: 10px;
	float:left;
	text-align: center;
}

.board {
	height:200px;
	width: 300px;
	border: solid black 5px;
	float:left;
	text-align: center;
	margin-left:4%;
	margin-top:5%;
	padding-top:5%;
}



.board_on {
	text-shadow: 2px 2px 8px #8AEBE1;
	border-bottom:solid white 10px;
	box-shadow: 0px 10px 0px #8AEBE1;
}

.playername {
	border-bottom: solid white 2px;
	width: 50px;
	margin:auto;
}