<!DOCTYPE html>
<html>
    <head>
    <title>Quantum Tic Tac Toe</title>
    <!-- AngularJS -->
    <script src="js/angular.js"></script>
    <!-- Firebase -->
    <script src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script src="js/angularfire.js"></script>
    <!-- JavaScript -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/TicTacController.js"></script>
    <link href="css/style.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

</head>
<body ng-app="TicTacToe">

<div class = "wrapper" ng-controller="TicTacController as tictac">
<h1 class="title">Quantum Tic Tac Toe</h1>
	<div class = "winner_statement" ng-class="{winner_statement_end : tictac.gameOver}"><h1>{{tictac.winnerStatement}}</h1></div>

	<div class="board" ng-class="{board_on : tictac.playerOneTurn}">
		<h1 class="playername">X</h1>
		<h2>{{tictac.playerOneScore}}</h2>
		<div class="button" ng-click="tictac.xQuantum()" ng-class = "{button_used : !tictac.xHasQuantum}"></div>
	</div>
	<div class="container">
		<div class="space" ng-repeat="box in tictac.boxes" ng-click="tictac.addMove(box)" ng-class= "{container_spin : tictac.quantumUsed}">
			<div><h2>{{box.state}}</h2></div>
		</div>
		<div class="reset" ng-click="tictac.reset()">Reset</div>
	</div>

	<div class="board" ng-class="{board_on : !tictac.playerOneTurn}">
		<h1 class="playername">O</h1>
		<h2>{{tictac.playerTwoScore}}</h2>
		<div class="button" ng-click="tictac.oQuantum()" ng-class = "{button_used : !tictac.oHasQuantum}"></div>
	</div>
</div>
</body>
</html>